@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Oswald:wght@300&family=Quicksand:wght@400;600;700&family=Rubik:wght@300;400;800;900&display=swap');



body {

    background-color: rgb(255, 255, 255);
    background-image: url(./assets/checkpattern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 100vh;


}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 150px);

}



.spacer {

    flex: 1;

}

header {

    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #c31fffa1;
}

h1 {
    text-align: left;

padding-left: 50px;
    font-size: 140px;
    font-family: 'Fasthand', cursive;
    text-shadow: -2px 0 #ffffff, 0 2px #ffffff, 2px 0 #ffffff, 0 -2px #ffffff;
    
}

h2 {
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding-left: 50px;
    text-shadow: -2px 0 #ffffff, 0 2px #ffffff, 2px 0 #ffffff, 0 -2px #ffffff;
    


}



.sort-container {
    display: flex;
    background-color: rgba(44, 44, 44, 0.852);
    justify-content: flex-start;
    gap: 50px;
    width: 100%;
    height: 10%;
    align-items: center;


}



.todos-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;

}

.todo-card {

    border-bottom: 5px solid rgb(0, 0, 0);
    display: flex;
    background-color: rgba(44, 44, 44, 0.852);
    font-size: 28px;
    padding-bottom: 30px;
    gap: 50px;
    font-family: 'Quicksand', sans-serif;
    align-items: flex-end;
    text-align: left;
    text-transform: capitalize;
    width: 40%vw;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-around;


}





.completBtn {
    order: 1;
    margin-top: 70px;
    margin-left: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.34);
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}



.todo-card button {

    width:100px;
    
}


.todo-card strong {

    order: 2;
    color: rgb(255, 255, 255);

}
.todo-card span {

    order: 3;
    color: rgb(255, 255, 255);

}


.dltBtn {
    order: 4;
    margin-top: 70px;
    margin-left: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.34);
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}


.todo-completed {

    border: 6px solid lime;
}

.srtBtn {
    width: 110px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    height: max-content;
    align-self: center;
   margin-top: 10px ;
   



}

.input-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    justify-content: space-between;
   
}



.add-input {

    height: 50px;
    width: 100%;
    border: 5px solid black;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;

}

.addBtn {
    height: 100%;
    width: 100px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border-radius: 20px;
}

@media (max-width:768px) {

    main {
        width: auto;
        height: calc(100% - 100px);


    }

    header {
        height: 150px;

    }

    h1 {
        font-size: 70px;
        width: 100%;

    }

    h2 {
        font-size:24px;
        padding-top: 0px;
        /* text-shadow: -2px 0 #070707, 0 2px #000000, 2px 0 #000000, 0 -2px #000000; */
        color: #ffffff;
        padding-left: 20px;
        text-shadow: none;
    }

    .sort-container {
        gap: 10px;
        margin: 0;
        padding: 0;
        align-items: center;
    }


    .todo-card {

        flex-wrap: wrap;
        gap: 10px;
        padding-top: 20px;
        width: auto;
        color: #ffffff;


    }

    .todo-card span {

        font-size: 10px;
        width: 45%;
        font-weight: bold;
        order: 2;

    }

    .completBtn {
        width: 100%;
        order: 3;
        margin: 0;


    }

    .todo-card strong {
        order: 1;
        color: rgb(255, 255, 255);
        margin: auto;
        text-align: left;
        font-size: 18px;
        width: 45%;

    }

    .dltBtn {
        margin: 0;
        width: 50px;
        order: 4;
        gap: 10px;
        font-size: x-small;


    }

    .todo-card button {

        width: 45%;
        margin-bottom: 0px;



    }

    .srtBtn {
        width: 80px;
        font-size: 16px;
        margin: 4px;
        border: 2px solid black;

    }

    .add-input {
        width: 100%;
        font-size: 12px;
    }


}